:root {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0; }

.container {
  display: block;  
  /*margin: 50px;*/
  margin: 5vw; 
}

/*Media Queries example*/

@media screen and (min-width: 768px)
{
  .container {
    height: 5vw;
  }
}

@media screen and (min-width: 468px) and (max-width: 767px)
{
  .container {
    height: 10vw;
  }
}

@media screen and (max-width: 468px)
{
  .container {
    height: 15vw;
}

.banner .card {
  background: #2c2c2c;
  border: 1vmax solid #2c2c2c;
  /*border-radius: 10px;*/
  border-radius: 5vw;
  /*box-shadow: 0px 3px 20px 2px #35eea4;*/
  box-shadow: 0vw 0.5vh 3vmax 0.5vmin #35eea4;
  display: block;
  }
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 64px;*/
    font-size: 4rem;
    font-weight: 700;
    /*margin-bottom: 5px;
    padding: 40px;*/
    margin-bottom: 1vh;
    padding: 5vw; 
  }

/*Media Queries example*/

@media screen and (min-width: 768px)
{
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 64px;*/
    font-size: 4rem;
    font-weight: 700;
    /*margin-bottom: 5px;
    padding: 40px;*/
    margin-bottom: 1vh;
    padding: 5vw; 
  }
}

@media screen and (min-width: 468px) and (max-width: 767px)
{
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 64px;*/
    font-size: 3rem;
    font-weight: 700;
    /*margin-bottom: 5px;
    padding: 40px;*/
    margin-bottom: 1vh;
    padding: 5vw; 
  }
}

@media screen and (max-width: 468px)
{
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 64px;*/
    font-size: 2rem;
    font-weight: 700;
    /*margin-bottom: 5px;
    padding: 40px;*/
    margin-bottom: 1vh;
    padding: 5vw; 
  }
}

  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 21px;*/
    font-size: 1.3rem;
    margin: 0;
    /*padding: 0 30px 30px;*/
    padding: 0 5vw 2vw; 
  }

  /*Media Queries example*/

@media screen and (min-width: 768px)
{
  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 21px;*/
    font-size: 1.3rem;
    margin: 0;
    /*padding: 0 30px 30px;*/
    padding: 0 5vw 2vw; 
  }
}

@media screen and (min-width: 468px) and (max-width: 767px)
{
  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 21px;*/
    font-size: 1rem;
    margin: 0;
    /*padding: 0 30px 30px;*/
    padding: 0 5vw 2vw; 
  }
}

@media screen and (max-width: 468px)
{
  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    /*font-size: 21px;*/
    font-size: 0.7rem;
    margin: 0;
    /*padding: 0 30px 30px;*/
    padding: 0 5vw 2vw; 
  }
}

    .banner .card .sub-heading button {
      background: none;
      border: none;
      /*border-radius: 5px;*/
      border-radius: 0vmax;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      /*font-size: 16px;*/
      font-size: 1rem;
      letter-spacing: 8px;
      /*margin-top: 20px;*/
      margin-top: 2vh;
      /*padding: 10px;*/
      padding: 1vmin;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; 
    }

    /*Media Queries example*/

    @media screen and (min-width: 768px)
    {
      .banner .card .sub-heading button {
        background: none;
        border: none;
        /*border-radius: 5px;*/
        border-radius: 0vmax;
        color: #35eea4;
        font-family: "Istok Web", sans-serif;
        /*font-size: 16px;*/
        font-size: 1rem;
        letter-spacing: 8px;
        /*margin-top: 20px;*/
        margin-top: 2vh;
        /*padding: 10px;*/
        padding: 1vmin;
        text-transform: uppercase;
        transition: box-shadow 0.3s linear 0.1s; 
      }
    }

    @media screen and (min-width: 468px) and (max-width: 767px)
    {
      .banner .card .sub-heading button {
        background: none;
        border: none;
        /*border-radius: 5px;*/
        border-radius: 0vmax;
        color: #35eea4;
        font-family: "Istok Web", sans-serif;
        /*font-size: 16px;*/
        font-size: 0.5rem;
        letter-spacing: 8px;
        /*margin-top: 20px;*/
        margin-top: 2vh;
        /*padding: 10px;*/
        padding: 1vmin;
        text-transform: uppercase;
        transition: box-shadow 0.3s linear 0.1s; 
      }
    }

    @media screen and (max-width: 468px)
    {
      .banner .card .sub-heading button {
        background: none;
        border: none;
        /*border-radius: 5px;*/
        border-radius: 0vmax;
        color: #35eea4;
        font-family: "Istok Web", sans-serif;
        /*font-size: 16px;*/
        font-size: 0.25rem;
        letter-spacing: 8px;
        /*margin-top: 20px;*/
        margin-top: 2vh;
        /*padding: 10px;*/
        padding: 1vmin;
        text-transform: uppercase;
        transition: box-shadow 0.3s linear 0.1s; 
      }
    }

    .banner .card .sub-heading button:hover {
      cursor: pointer;
      /*box-shadow: 0 3px 20px 0 #35eea4;*/
      box-shadow: 0vw 0.5vh 3vmax 0.5vmin #35eea4 
    }

.row {
  display: block;

  /*margin-top: 30px;*/
   margin-top: 5vh; 
 }

  .row .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    /*width: 250px;*/
    width: 25vw;
    float: right;
  }

  /*Media Queries example*/

  @media screen and (min-width: 768px)
  {
    .row .my-image {
      border: 1px solid #35eea4;
      border-radius: 5px;
      box-shadow: 0px 3px 20px 2px #2c2c2c;
      /*width: 250px;*/
      width: 25vw;
      float: right;
    }
  }

  @media screen and (min-width: 468px) and (max-width: 767px)
  {
    .row .my-image {
      border: 1px solid #35eea4;
      border-radius: 4px;
      box-shadow: 0px 2px 15px 1px #2c2c2c;
      /*width: 250px;*/
      width: 10vw;
      float: right;
    }
  }

  @media screen and (max-width: 468px)
  {
    .row .my-image {
      border: 1px solid #35eea4;
      border-radius: 3px;
      box-shadow: 0px 1px 10px 0.5px #2c2c2c;
      /*width: 250px;*/
      width: 5vw;
      float: right;
    }
  }


.paragraph {
  float: left;
  color: #2c2c2c;
  font-family: "Istok Web", sans-serif;
  /*width: 600px;*/
  width: 60%;
}

/*Media Queries example*/

@media screen and (min-width: 768px)
{
  .paragraph {
    float: left;
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    /*width: 600px;*/
    width: 60%;
  }
}

@media screen and (min-width: 468px) and (max-width: 767px)
{
  .paragraph {
    float: left;
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    /*width: 600px;*/
    width: 80%;
  }
}

@media screen and (max-width: 468px)
{
  .paragraph {
    float: left;
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    /*width: 600px;*/
    width: 100%;
  }
}

.icon-group {
  margin-top: 20px; }
  .icon-group .icon {
    margin-right: 10px;
    width: 25px; }

@media only screen and (max-width: 468px)
{
 .icon-group .icon {
    margin-right: 20px;
    width: 50px; }
}


